@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.card{
  max-width: 300px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #A9C7C5;
  box-shadow: 0 3px 3px 0 #A9C7C5;
  z-index: -1;
}
.content{
  text-decoration: none;
  color: #000;
  text-align: justify;
}

.rating{
  color: #fa573a;
  font-size: 14px;
  text-align: start;
  font-weight: 600;
}
.title{
  font-size: 28px;
  letter-spacing: 1.8px;
  font-family: 'fantasy';
  text-transform: capitalize;
}
.wrap_location{
  width: 100px;
  height: 30px;
  background-color: #fa573a;
  border-radius: 4px;
  z-index: 1;
}
.location{
  padding: 3px;
  letter-spacing: 2px;
  font-family: 'Share Tech Mono';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
  
}
.img_card{
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  z-index: -1;
}
.description{
  font-size: 16px;
  text-transform: capitalize;
  
 
}
.card:hover{
  transform: scale(1.05);
  transition-delay: 5ms;
  cursor: pointer;
}
