html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container{
  padding: 0;
}
.container_card {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-section{
  color: #fa573a;
  letter-spacing: 2px;
  font-family: 'fantasy';
  font-size: 30px;
  text-align: center;
  /* margin: 1rem 0 0.8rem 0; */
  cursor: pointer;
  text-transform: capitalize;
}
.label-section:hover{
  text-decoration: underline;
  color: #EE1D23;
}
@media screen and (max-width: 768px){
  .label-section{
    font-size: 24px;
  }
}
  
.row{
  margin: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.col {
  margin: 7.5px;
  flex-basis: 250px;
  flex-shrink: 2;
  flex-grow: 2;
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body{
    background-color: #fff
  }
}
