@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.navbar {
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.43);
  background-color: #fff;
  position: sticky;
}

.menu {
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.item {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  list-style: none;
}

.item a:hover {
  color: #EE1D23;
  text-decoration: underline;
}

.logo {
  letter-spacing: 2px;
  float: left;
  margin: 1.4rem;
  font-size: 25px;
  font-weight: bold;
  color: #fa573a;
  font-family: 'Kaushan Script';
  text-transform: capitalize;
}

.burger {
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: 30px;
  align-items: center;
  top: 7px;
  font-size: 23px;
}
.burger:active{
  transform: rotateY(60deg);
  transition: 5ms;
  color: #EE1D23;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .logo {
    margin: auto 10px;
  }

  .menu {
    display: none;
  }

  .menu li {
    text-align: center;
    margin: 0;
  }

  .item {
    border-top: 1px solid #000;
    text-align: center;
    margin-right: 0;
    padding: 20px 0;
    list-style: none;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin: 1rem;
  }

  .menures {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;    
  }
}