.hero_container{
  background-image: linear-gradient(0deg, rgba(16,19,27,1) 3%, rgba(47,19,14,0.19089634144673495) 100%), url("https://ik.imagekit.io/l47yqgkjf/5_XAL-K3FVg.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661050896470");
  padding: 1rem 3rem;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1; 
}
.hero_description{ 
  text-align: justify;
  margin: 0 auto;
  
}
.hero_title{
  font-family: 'Kaushan Script';
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: start;
  color: #fa573a;
}
.hero_description{
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero_description{
    font-size: 18px;
    text-align: justify;
  }
  .hero_title{
    font-size: 30px;
    text-align: center;
  }
}